.card-image{
    width: 100;
    display: felx;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;

}
.card-image > img{
    height: 200px;
    object-fit: fill ;
    margin-left: 40px;

}
